@page "/Athletes/achievements"
@attribute [Authorize]
@inject IStringLocalizer<Achievements> L

<PageTitle>@L["PageTitle"]</PageTitle>

<MudContainer Class="pl-section-page px-4 px-sm-6 pb-8" MaxWidth="MaxWidth.Medium">
    <PageHeader Title="@L["Title"]" Subtitle="@L["Subtitle"]" />
    <div class="pt-4">
        <AchievementGallery />
    </div>
</MudContainer>
