@page "/Athletes/racepaces"

@using AthleteDataAccessLibrary;
@using AthleteDataAccessLibrary.Contracts;
@using MudBlazor.Extensions.Core;
@using MudBlazor;
@using PaceLetics.VdotModule.CodeBase.Interfaces;
@using PaceLetics.VdotModule.Components;

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAthleteData AthleteData
@inject IJSRuntime js
@inject IDialogService dialogService
@inject IVdotService vdotService
@inject IPaceModelProvider pmProvider

<PageTitle>Meine Laufdaten</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Small">

    @if (_isLoading)
    {
        <LoadingScreen Label="Deine Daten werden geladen..."/>
    }
    else
    {
        <h1>Meine Laufdaten</h1>

        <MudStack Spacingv="3">
            <MudText>
                Hier kannst du einen neuen Einstufungslauf eintragen oder den vorhandenen editieren.
            </MudText>
            @if(@_athlete.ActiveReferenceResult == null)
            {
                <MudAlert Severity="Severity.Warning">
                    Füge einen aktuellen Einstufungslauf hinzu, damit wir deine Trainingsbereiche für dich ermitteln können.
                </MudAlert>
                <MudButton OnClick="AddAthlete">
                    <MudExIcon Icon="@Icons.Material.Filled.AddCircle" Size="Size.Large" Color="MudExColor.Warning" />
                </MudButton>
            }
            else
            {
                <RaceCard OnEditRaceCard="@AddAthlete" Model="@_athlete.ActiveReferenceResult" />
                @if ((DateTime.Now - _athlete.ActiveReferenceResult.Date).TotalDays > 180)
                {
                    <MudAlert Severity="Severity.Info">
                        Dein Einstufungslauf liegt schon mehr als 6 Monate zurück. Für ein optimales Training solltest du einen aktuelleren Referenzlauf verwenden.
                    </MudAlert>
                }

                
                <VdotCard Data="@_vdotData"></VdotCard>
            }
                
                
        

        </MudStack>
    }

</MudContainer>


