@page "/Athletes/trainingpaces"

@using AthleteDataAccessLibrary;
@using CoreLibrary.Models.Athlet;

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAthleteData AthleteData

<PageTitle>Training Paces</PageTitle>

<h1>Hello @Athlete?.Name </h1>
<p> Your user id is: @Athlete?.Id</p>

@code
{
    string Name ="";
    string ID = "";
    AthleteModel? Athlete;

    protected async override void OnInitialized()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        Name = await GetUserName();
        ID = await GetUserId();
        Athlete = await AthleteData.GetAthlete(ID);
        base.OnInitialized();
    }

    async Task<string> GetUserName()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        return user.Identity.Name;
    }

    async Task<string> GetUserId()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var userid = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return userid;
    }

}
