@page "/Athletes/trainingplanpage"
@using PaceLetics.RunningModule.CodeBase.Models
@using PaceLetics.RunningModule.Components

@inject IJSRuntime JS

<PageTitle>Trainingsplanung</PageTitle>

<MudContainer Class="pt-6 px-6 pb-8" MaxWidth="MaxWidth.Small">
    @if (_isLoading)
    {
        <LoadingScreen Label="Deine Daten werden geladen..." />
    }
    else
    {
        <PageHeader Title="Dein Trainingsplan"
                    Subtitle="Der Trainingsplan für das laufende Sportsemester.." />

        <MudDivider Class="my-4" />
  
        <div style="overflow-x:auto; overflow-y:auto; -webkit-overflow-scrolling:touch; padding:0 12px 12px 12px;">
            <!-- width:max-content sorgt dafür, dass die Timeline nicht zusammengedrückt wird -->
            <div style="width:max-content; height:max-content" >
                <MudTimeline TimelineOrientation="TimelineOrientation.Vertical">
                    @foreach (var session in Plan.Sessions)
                    {
                        var isNext = session.Id == _nextSessionId;

                        <MudTimelineItem id="@(isNext ? "next-session" : null)" 
                            Color="@(isNext? Color.Secondary: Color.Primary)"
                            Elevation="@(isNext ? 26 : 10)"
                            Size="@(isNext ? Size.Large: Size.Medium)"
           
                            Style="width:100%;">
                            <RunningSessionMiniCard Session="session" IsHighlighted="isNext" />
                         </MudTimelineItem>
                    }
                </MudTimeline>
            </div>
        </div>
 }
</MudContainer>

@code {
    private bool _isLoading = true;
    private TrainingPlan Plan = default!;
    private string? _nextSessionId;

    protected override void OnInitialized()
    {
        var jsonPath = "wwwroot/data/intervalls.json";
        var sessions = RunningSessionFactory.Load(jsonPath);
        Plan = new TrainingPlan("ws25-26", "Winterplan 2025/26", sessions);

        var today = DateTime.Today; 
        _nextSessionId = Plan.Sessions
            .Where(s => s.Date.Date >= today)
            .OrderBy(s => s.Date)
            .Select(s => s.Id)
            .FirstOrDefault();
        _isLoading = false;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _nextSessionId != null)
        {
            await JS.InvokeVoidAsync("scrollToNextSession");
        }
    }
    }
