@using MudBlazor

<div class="pl-loading">
    <MudPaper Elevation="0" Class="pl-loading-panel">
        <MudProgressCircular Class="pl-loading-symbol"
                             Color="Color.Primary"
                             Size="@Size.Large"
                             StrokeWidth="4"
                             Indeterminate="true" />

        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <MudText Class="pl-loading-label" Typo="Typo.body2" Align="Align.Center">
                @Label
            </MudText>
        }
    </MudPaper>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;
}
