@using Microsoft.AspNetCore.Http.Extensions;
@using MudBlazor
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <MudIconButton Href="Identity/Account/Manage" Icon="@Icons.Material.Outlined.AccountBox" Title="Profil verwalten" />
        <MudForm Method="post" action="Identity/Account/Logout">
            <MudIconButton Icon="@Icons.Material.Outlined.Logout" ButtonType="ButtonType.Submit" Class="nav-link btn btn-link">Log out</MudIconButton>
        </MudForm>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
