<MudStack>
    <h3>One Leg Deadlift</h3>

    <MudPaper Elevation="2" Class="pa-4" >
        <MudImage Fluid="true" Src="images/workouts/stabi/one_leg_deadlift.png" Alt="One Leg Deadlift" Class="rounded-lg" />
    </MudPaper>

</MudStack>
@code {

}
