
<MudStack>
    <h3>Glute Bridge</h3>

    <MudPaper Elevation="2" Class="pa-4" >
        <MudImage Fluid="true" Src="images/workouts/stabi/Glute_Bridge.png" Alt="Glute Bridge" Class="rounded-lg" />
    </MudPaper>

</MudStack>


@code {

}
