<MudStack>
    <h3>Quadruped</h3>

    <MudPaper Elevation="2" Class="pa-4">
        <MudImage Fluid="true" Src="images/workouts/stabi/quadruped.png" Alt="Quadruped" Class="rounded-lg" />
    </MudPaper>

</MudStack>

@code {

}
