<MudStack>
    <h3>Side Plank Dip</h3>

    <MudPaper Elevation="2" Class="pa-4">
        <MudImage Fluid="true" Src="images/workouts/stabi/Side_Plank_Dip.png" Alt="Side Plank Dip" Class="rounded-lg" />
    </MudPaper>

</MudStack>


@code {

}
