<MudStack>
    <h3>Superwoman</h3>

    <MudPaper Elevation="2" Class="pa-4" >
        <MudImage Fluid="true" Src="images/workouts/stabi/Superman.png" Alt="Superwoman" Class="rounded-lg" />
    </MudPaper>

</MudStack>
@code {

}
