@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<div class="pl-identity-status mud-elevation-4">
    <h1 class="mud-typography mud-typography-h5">@Localizer["Title"]</h1>
    <p class="mud-typography mud-typography-body2 mb-0">@Localizer["Message"]</p>
    <div class="pl-identity-status__actions">
        <a asp-page="./Login" class="mud-button-root mud-button mud-button-filled mud-button-filled-primary">
            <span class="mud-button-label">@Localizer["BackToLogin"]</span>
        </a>
    </div>
</div>
