@using AthleteDataAccessLibrary;
@using AthleteDataAccessLibrary.Contracts;
@using PaceLetics.AthleteModule.CodeBase.Models;

@inject IAthleteData _ad;

<h3>AthleteListView</h3>

<DataGridView Athletes="@athletes"></DataGridView>

@code {
	private IList<AthleteModel>? athletes;

	protected override async Task OnInitializedAsync()
	{
		athletes = await _ad.GetAthletes();
	}
}