@using PaceLetics.RunningModule.CodeBase.Models;
<h3>IntervallTrainingCard</h3>

<MudCard>
	<MudCardHeader> 
		<CardHeaderAvatar >
			<MudAvatar Image="images/icons/itervall.png"/>
		</CardHeaderAvatar>
	</MudCardHeader>
</MudCard>


@code {

	[Parameter]
	public IntervallTraining? Training {get;set;}

}
